/* Палітра кольорів */
/* primary-text-color: #212121;
    second-text-color: #757575;
    accent-color: #2196f3;
    accent-color-text: #ffffff;
    background-header: #ffffff;
    background-efect: #2f303a;
    background-ourteam-color: #f5f4fa;
    line-header: #ececec;
    background-buttom: #f5f4fa;
    background-buttom-accent: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow-buttom-studio: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    background-box: #ffffff;
    border-color: #eeeeee;
    footerbackground-color: #2f303a;
    footer-text: rgba(255, 255, 255, 0.6);
    footer-text-color: #ffffff; 
    modal-bcg: rgba(0, 0, 0, 0.2);*/

/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

/* ------------- логотип WebStudio -------------*/

/* --------------- навігація Студия -------------*/

/*------------------- мейл і тел ---------------*/

/*------------------- css index --------------*/

/* ------------------ H E R O ----------------*/

/*------------------- кнопка -------------------*/

/*----------------- особливості ----------------*/

/*------------ чим ми займаємося -------------*/

/*------------- наша команда ----------*/

/* -------------- Постоянные клиенты ----------------*/

/*--------------- підвал ------------*/
