/*------------------ CARD SET PROJECT ---------------*/
.project__card-content {
  padding: 20px 24px;
}
.project__bigtext {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project__smalltext {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-text-color);
}
